.Cell {
    margin: 0%;
    background-color: var(--cell-back-color);
    border: 1px solid var(--border-color);
    border-radius: 0%;
    width: 2.3rem;
    height: 2.3rem;
    padding: 3px;
    font-size: 1.3em;
}

.Clue {
    color: var(--fore-color);
    font-weight: bold;
}

.Guess {
    color: var(--fore-color);
}

.Row {
    display: flex;
    flex: row;
}

.Thickborder {
    border: 3px solid var(--border-color);
    width: fit-content;
}

@media screen and (max-width: 700px) {
    .Thickborder {
        border-width: 2px;
    }
}
