#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* used by SizeSelector */
.ButtonContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 500px;
}

/* Hide button for grid sizes that
 would not fit on small screen */
 .HideOnMedium {
  display: none;
} 

 .HideOnMedium {
  display: none;
} 

.HideOnSmall {
  display: none;
}

.HideOnVerySmall {
  display: none;
}

.Home {
  display: flex;
  justify-content: center;
}

/* show buttons when screen will be
 large enough to show that size */
@media screen and (min-width: 474px) {
  .HideOnVerySmall {
    display: block;
  }
}

/* show buttons when screen will be
 large enough to show that size */
@media screen and (min-width: 635px) {
  .HideOnSmall {
    display: block;
  }
}

/* show buttons when screen will be
 large enough to show that size */
 @media screen and (min-width: 815px) {
  .HideOnMedium {
    display: block;
  }
}

