#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* used by SizeSelector */
.ButtonContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 500px;
}

/* Hide button for grid sizes that
 would not fit on small screen */
.HideOnSmall {
  display: none;
}

.HideOnVerySmall {
  display: none;
}

.Home {
  display: flex;
  justify-content: center;
}

/* show buttons when screen will be
 large enough to show that size */
@media screen and (min-width: 338px) {
  .HideOnVerySmall {
    display: block;
  }
}

/* show buttons when screen will be
 large enough to show that size */
@media screen and (min-width: 425px) {
  .HideOnSmall {
    display: block;
  }
}
