:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  /* set colors for dark mode */
  --app-back-color: black;
  --cell-back-color: black;
  --fore-color: white;
  --border-color: #cccccc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--fore-color);
  background-color: var(--app-back-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 0%;
}

button {
  border-radius: 8px;
  border: 2px solid;
  border-color: var(--border-color);
  padding: 0.6em 1.2em;
  margin: 5px 2px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--cell-back-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #dfcd80;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --app-back-color: #dfcd80;
    --cell-back-color: white;
    --fore-color: black;
    --border-color: black;
  }
  button:hover {
    /* keep border color dark when in light mode */
    border-color: black;
    /* lighter version of app background */
    background-color: #f7f4e0;
  }
}
